body{
    background-color: var(--cor);
    width: 100vw;
    height: 100vh;
}

header{
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.033);
}

#img-logo{
    width: 6rem;
    height: 6rem;
}

.logo{
    width: auto;
    height: 100%;
    background-color: none;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.logo>h1{
    color: var(--verde);
}

#Fit{
    color: black;
}

#ponto{
    color: var(--rosa);
}


ul>li{
    display: inline-block;
    font-size: 1.3rem;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#under-verde{
    text-decoration-color: var(--verde);
}

#under-rosa{
    text-decoration-color: var(--rosa);
}